body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
.buttonLinks {
  width: 220px;
  height: 50px;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  background-color: #005850;
  border: none;
  color: #EDF1F0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.buttonLinks:hover {
  background-color: black;
  color: #EDF1F0;
}
.center {
  text-align: center;
}
.sunnfjord {
  color: #005850;
}
.bilde01 {
  border-radius: 8px;
  width: 100px;
  margin-left: 30px;
  margin-right: auto;
}
#div00 {
  width: 1200px;
  margin: auto;
  padding: 10px;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  background-color: #EDF1F0;
}
#div02 {
  display: flex; /* establish flex container */
  justify-content: center; /* center flex items horizontally, in this case */
  align-items: center; /* center flex items vertically, in this case */
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
}
#div03 {
  background-color: #005850;
  margin: 10px;
  padding: 10px;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  color: #EDF1F0;
}
#div0101 {
  display: flex; /* establish flex container */
  justify-content: center; /* center flex items horizontally, in this case */
  align-items: center; /* center flex items vertically, in this case */
  border-style: none none none none;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #005850;
}
#div0102 {
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
}
#div010101 {
  box-sizing: content-box;
  width: 15%;
  height: 100%;
  padding: 10px;
  margin: 10px;
}
#div010102 {
  box-sizing: border-box;
  width: 85%;
  height: 100%;
}
#div0201 {
  box-sizing: content-box;
  width: 15%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  color: #005850;
}
#div0202 {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
}
