/* felles font */
body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
    color: var(--kommuneFarge);
    font-size: 3vw;
}

/* det brukes mye %, vh og vw */
/* i steden for px (piksler) som er faste er %, vh og vw relative til forelder, viewport height of viewport width */
/* dette er en måte å gjøre det slik at nettsiden kan skaleres uten at stilen bryter ned uten å bruke max/min- width og height */
/* det eneste som er dårlig med dette er det at man ikke kan zoom-e inn. 
noe som kan være dårlig for tilgjengelighet for de med dårlig syn
selv om teksten er relativt stor
*/
/* det er noe vi får vurdere og evt. spør PC om */

#pageContents {
    font-size: 1vw;
    text-align: center;
    width: 65vw;
    margin: auto;
    padding: 1vw;
    border-radius: 10px;
    background-color: var(--pageContentsBackgroundColor); 
}

#logoAndHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -20%;
    margin-bottom: 2%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav {
    width: 94%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

article, section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sunnfjordKommune {
    width: 10%;
    margin-right: 5%;
    border-radius: 5%;
}

#sunnfjordKommune {
    cursor: pointer;
}

.navButton {
  width: 19%;
  height: 6.5vh;
  border-width: 1px;
  border-radius: 10px;
  background-color: var(--kommuneFarge);
  color: var(--pageContentsBackgroundColor);
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  font-size: 1.2vw;
}

.navButton:hover {
  background-color: black;
  cursor: pointer;
}

footer {
    display: grid;
    align-items: center;
    background-color: var(--kommuneFarge);
    color: white;
    height: 8vh;
    border-radius: 8px;
}